@import "tailwindcss";

@plugin "daisyui" {
  themes: lofi --default;
}


@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #666F52;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #746047;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #1C290C;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: #A19279;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #1C290C;
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: #7bbd7e;
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(44% 0.177 26.899);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@font-face {
  font-family: 'Dave';
  src: url('./fonts/Dave.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'Dave', sans-serif;
  font-size: 1.1rem;
}
