@import "tailwindcss";

@plugin "daisyui" {
  themes: forest--default;
}



@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #666F52;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #A19279;
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: #1C290C;
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: #746047;
  --color-neutral-content: oklch(98% 0.031 120.757);
  --color-info: #1C290C;
  --color-info-content: oklch(100% 0 0);
  --color-success: #61963D;
  --color-success-content: oklch(100% 0 0);
  --color-warning: #b91c1c;
  --color-warning-content: oklch(100% 0 0);
  --color-error: #b91c1c;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}




@font-face {
  font-family: 'Dave';
  src: url('./fonts/Dave.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'Dave', sans-serif;
  font-size: 1.1rem;
}
