@import "tailwindcss";

@plugin "daisyui" {
  themes: lofi --default;
}

@plugin "daisyui/theme" {
  name: "icepirate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(90.4% 0.185 126.665);
  --color-primary-content: oklch(40% 0.101 131.063);
  --color-secondary: oklch(93% 0.127 124.321);
  --color-secondary-content: oklch(40% 0.101 131.063);
  --color-accent: oklch(89% 0.196 126.665);
  --color-accent-content: oklch(40% 0.101 131.063);
  --color-neutral: oklch(72.1% 0.102 124.100);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(40% 0.101 131.063);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@font-face {
  font-family: 'Dave';
  src: url('./fonts/Dave.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Dave', sans-serif;
}
